<div *ngIf="isOpen" class="slds">
    <!-- Backdrop -->
    
    <div class="slds-backdrop slds-backdrop_open"></div>

    <!-- Modal -->
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">

            <!-- Modal/Popup Header -->
            <header class="slds-modal__header">
                <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse" (click)="close()" title="Close">
                    <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                        <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                    </svg>
                    <span class="slds-assistive-text">Close</span>
                </button>
                <h2 class="slds-text-heading_medium">Modal Header</h2>
            </header>

            <!-- Modal/Popup Body -->
            <div class="slds-modal__content slds-p-around_medium">

                <p>snjusdhnhdflnasdflkadfnadfnlkadfnjlkadfn</p>
                {{"Flag:-"+isOpen}}

                
            </div>

            <!-- Modal/Popup Footer -->
            <footer class="slds-modal__footer">
                <button class="slds-button slds-button_neutral" (click)="close()">Cancel</button>
                <button class="slds-button slds-button_brand" (click)="save()">Save</button>
            </footer>
        </div>
    </section>
</div>
